<!-- Sidebar - Brand -->
<a
  class="sidebar-brand d-flex align-items-center justify-content-center"
  href=""
>
  <div class="sidebar-brand-icon rotate-n-15">
    <i class="fas fa-laugh-wink"></i>
  </div>
  <div class="sidebar-brand-text mx-3">
    Apotek
    <!-- <sup>2</sup> -->
  </div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0" />

<!-- Nav Item - Dashboard -->
<li class="nav-item">
  <a class="nav-link" href="" data-page="dashboard">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a
  >
</li>

<!-- Divider -->
<hr class="sidebar-divider" />

<!-- Heading -->
<div class="sidebar-heading">Menu</div>

<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#penjualan"
    data-toggle="collapse"
    data-target="#collapsePenjualan"
    aria-expanded="true"
    aria-controls="collapsePenjualan"
  >
    <i class="fas fa-fw fa-chart-bar"></i>
    <span>Penjualan</span>
  </a>
  <div
    id="collapsePenjualan"
    class="collapse"
    aria-labelledby="headingTwo"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Penjualan:</h6>
      <a class="collapse-item" href="kasir" data-page="kasir">Kasir</a>
      <a class="collapse-item" href="kasir" data-page="kasir"
        >Daftar Penjualan</a
      >
      <a class="collapse-item" href="kasir" data-page="kasir"
        >Rektur Penjualan</a
      >
      <a class="collapse-item" href="kasir" data-page="kasir"
        >Faktur Penjualan</a
      >
    </div>
  </div>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#pembelian"
    data-toggle="collapse"
    data-target="#collapsePembelian"
    aria-expanded="true"
    aria-controls="collapsePembelian"
  >
    <i class="fas fa-fw fa-shopping-bag"></i>
    <span>Pembelian</span>
  </a>
  <div
    id="collapsePembelian"
    class="collapse"
    aria-labelledby="headingUtilities"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Pembelian:</h6>
      <a class="collapse-item" href="utilities-color.html">Pesanan Pembelian</a>
      <a class="collapse-item" href="utilities-border.html">Faktur Pembelian</a>
      <a class="collapse-item" href="utilities-animation.html"
        >Retur Pembelian</a
      >
      <!-- <a class="collapse-item" href="utilities-other.html">Other</a> -->
    </div>
  </div>
</li>

<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#persediaan"
    data-toggle="collapse"
    data-target="#collapsePersediaan"
    aria-expanded="true"
    aria-controls="collapsePersediaan"
  >
    <i class="fas fa-fw fa-database"></i>
    <span>Persediaan</span>
  </a>
  <div
    id="collapsePersediaan"
    class="collapse"
    aria-labelledby="headingUtilities"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Persediaan:</h6>
      <a class="collapse-item" href="utilities-color.html">Stok Opname</a>
      <a class="collapse-item" href="utilities-border.html"
        >Riwayat Stok Opname</a
      >
      <a class="collapse-item" href="utilities-animation.html">Defecta</a>
      <!-- <a class="collapse-item" href="utilities-other.html">Other</a> -->
    </div>
  </div>
</li>

<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapseMaster"
    aria-expanded="true"
    aria-controls="collapseMaster"
  >
    <i class="fas fa-fw fa-wrench"></i>
    <span>Master Data</span>
  </a>
  <div
    id="collapseMaster"
    class="collapse"
    aria-labelledby="headingUtilities"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Master Data:</h6>
      <a class="collapse-item" href="barang" data-page="barang"
        >Master Barang</a
      >
      <a class="collapse-item" href="utilities-border.html">Master Kategori</a>
      <a class="collapse-item" href="utilities-animation.html"
        >Jenis Pembayaran</a
      >
      <a class="collapse-item" href="utilities-animation.html">Pengguna</a>

      <!-- <a class="collapse-item" href="utilities-other.html">Other</a> -->
    </div>
  </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block" />

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
